/*##########################################################
                         Categories 
##########################################################*/
.categories-wrapper {
    color: white;
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}

.categories-header {
    height: auto;
    width: auto;
    margin-right: auto;
    color: black;
    /* background-color: blue; */
}

.categories-sub-header {
    color: black;
    /* background-color: blue; */
}

.categories-content-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border: 2px solid black;
    position: relative;
}

.categories-input-box {
    width: auto;
    height: auto;
    margin-top: 10px;
    /* background-color: green; */
}

.categories-terms-box {
    width: auto;
    height: auto;
    margin-top: 10px;
    /* background-color: orange; */
}

.categories-terms-box--left {
    border: 2px solid black;
    text-align: center;
    float: left; 
    width: 45%;
    height: 100%;
    color: black;
    background-color: gray;
    margin-bottom: 20px;
    position: relative;
}

.categories-terms-box--center {
    border: 2px solid black;
    float: left; 
    width: 10%;
    height: 100%;
    background-color: silver;
}

.categories-terms-box--right {
    border: 2px solid black;
    text-align: center;
    float: right; 
    width: 45%;
    height: 100%;
    color: black;
    background-color: gray;
    position: relative;
}

.categories__buttons {
    width: 100%;
}

.categories-button-box {
    position: absolute;
    bottom: .1vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



/* .categoriesUploadSection {
    width: 90%;
    height: 527px;
    margin-left: 5%;
    margin-top: 2%;
    background-color: lightgray;
    border: 2px solid black;
}

.categoriesUploadSection2 {
    width: 90%;
    height: 508px;
    margin-left: 5%;
    margin-top: 2%;
    background-color: lightgray;
    border: 2px solid black;
}

.categoriesLeft {
    border: 2px solid black;
    float: left; 
    width: 45%;
    background-color: white;
    height: 438px;
}

.categoriesCenter {
    border: 2px solid black;
    float: left; 
    width: 10%;
    background-color: lightblue;
    height: 438px;
}

.categoriesRight {
    border: 2px solid black;
    float: right; 
    width: 45%;
    background-color: white;
    height: 438px;
}

.tl {
    max-height: 300px;
}

.tr {
    height: 300px;
}

.t1 {
    max-height: 54%;
} */