/*##########################################################
                        Document 
##########################################################*/
.document-wrapper {
    color: white;
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}

.document-header {
    height: auto;
    width: auto;
    margin-right: auto;
    color: black;
    /* background-color: blue; */
}

.document-content-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border: 2px solid black;
    position: relative;
}

.document-content-box--centered {
    margin-top: 10px;
    text-align: center;
    border: 2px solid black; 
    width: 100%;
    height: 94.5%;
    color: black;
    background-color: gray;
    position: relative;
}

.document-input-box {
    width: auto;
    height: auto;
    /* background-color: green; */
}

.document-location-box {
    border: 2px solid black;
    background-color: white;
    color: black;
    margin-top: 10px;
    height: auto;
    width: 85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    left: 00;
    right: 0;
}
