/*##########################################################
                          Load 
##########################################################*/
.load-wrapper {
    color: white;
    /* background-size:100% 80%; */
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}

.load-header {
    height: auto;
    width: auto;
    margin-right: auto;
    color: black;
    /* background-color: blue; */
}

.load-content-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border: 2px solid black;
}

.load-input-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33vh;
    /* background-color: white; */
}

.load-content-box--centered {
    margin-top: 1vh;
    text-align: center;
    border: 2px solid black; 
    width: 100%;
    height: 94.6%;
    color: black;
    background-color: gray;
}