/*##########################################################
                           Taxonomy 
##########################################################*/
.taxonomy-wrapper {
    color: white;
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}

.taxonomy-header {
    height: auto;
    width: auto;
    margin-right: auto;
    color: black;
    /* background-color: blue; */
}

.taxonomy-sub-header {
    color: black;
}

.taxonomy--center-sub-header {
    color: black;
    background-color: silver;
}

.taxonomy-content-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border: 2px solid black;
    position: relative;
}

.taxonomy-graph-box {
    background-color: white;
    width: 98%;
    height: 96%;
    margin: auto;
    border: 2px solid black;
    position: relative;
}

.selected-box {
    position: absolute;
    top: 0px;
}

.taxonomy-input-box {
    width: auto;
    height: auto;
    margin-top: 10px;
    /* background-color: green; */
}

.taxonomy-terms-box {
    width: 100%;
    height: 94.5%;
    margin-top: 10px;
    /* background-color: orange; */
}

.taxonomy-terms-box--left {
    border: 2px solid black;
    float: left; 
    width: 60%;
    background-color: darkgray;
    height: 100%;
    color: black;
}

.taxonomy-terms-box--center {
    border: 2px solid black;
    float: left; 
    width: 10%;
    background-color: silver;
    height: 100%;
}

.taxonomy-terms-box--right {
    border: 2px solid black;
    float: right; 
    width: 30%;
    background-color: darkgray;
    height: 100%;
    color: black;
}

.taxonomy__buttons {
    width: 100%;
}

.taxonomy__page-buttons {
    margin-right: 195px;
}