<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>




    {% if hasresult %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% for s in data %}
            <!-- <input rows="20" cols="80" value="{{s}}"> -->
            <!-- <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a> -->

            <a href={{s[ "downloadlink"]}}> <button type="button " class="btn btn-primary ">Download</button></a>{% endfor %} {% else %}
        </div>
    </div>
    {% endif %}

</html>